<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        {% for type in types_and_repos %}
            <h2>{{type}}</h2>
            {% for repo in types_and_repos[type] %}
                <a href="{{relative_nav|default('', true)}}{{type}}/{{repo}}">{{ repo }}</a>
            {% endfor %}
        {% endfor %}
        <hr>
    </nav>
    <main>
        {% block main %}
        {% endblock %}
    </main>
</body>
</html>